In [ ]:
task_name="reclass 2016 homicide" 
dataset= "original_homicide" 
code_version="group_barrio_homicide_2016"
input_dir="homicidios-en-bogota-2016.csv" 
output_dir="2016homicide_barrio_upz_barriocount_final.csv"
duration="none"
note="第一次根据barrio名筛选聚合的数据，没做匹配"

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("homicidios-en-bogota-2016.csv", encoding="latin1")

# 按 Barrio 分组，统计 Cantidad 总和
df_group = df.groupby("Barrio", as_index=False)["Cantidad"].sum()

print(df_group.head())

                        Barrio  Cantidad
0             7 DE AGOSTO E-12       1.0
1           ABRAHAM LINCON E-6       1.0
2  ACACIAS III PARTE BAJA E-19       1.0
3             ACACIAS SUR E-19       0.0
4                ACAPULCO E-10       1.0

In [ ]:
df2016 = pd.read_csv("2016homicide_barrio_upz_barriocount.csv")
merged = df2016.merge(df_group, on="Barrio", how="left")
merged

,Barrio,Matched_Barrio,Score,recheck,codigo_upz,Cantidad
0,7 DE AGOSTO E-12,siete de agosto,75,NaN,98,1.0
1,ABRAHAM LINCON E-6,abraham lincon,100,NaN,47,1.0
2,ACACIAS III PARTE BAJA E-19,acacias,100,NaN,27,1.0
3,ACACIAS SUR E-19,acacias,100,NaN,27,0.0
4,ACAPULCO E-10,acapulco,100,NaN,27,1.0
...,...,...,...,...,...,...
619,VISION DE COLOMBIA E-8,colombia,100,NaN,98,1.0
620,VISTA HERMOSA E-19,vista hermosa,100,NaN,24,5.0
621,VITELMA E-4,vitelma,100,NaN,32,4.0
622,VOTO NACIONAL E-14,voto nacional,100,NaN,102,6.0
623,ÁLVARO BERNAL SEGURA E-19,álvaro bernal segura,100,NaN,67,NaN

In [ ]:
merged.to_csv(r"E:/Dissertation/CASA0004/2016homicide_barrio_upz_barriocount_final.csv", index=False, encoding="utf-8-sig")

In [ ]:
# ===== 记录日志 =====
status="完成" 
def append_log(task_name, dataset, code_version, input_dir, output_dir, status, duration, note):
    repo_dir = 'E:\Dissertation\CASA0004'
    log_path = f"{repo_dir}/operation_log.md"

    # 写入日志
    with open(log_path, "a", encoding="utf-8") as f:
        f.write(f"**任务名称**: {task_name}\n")
        f.write(f"**数据集**: {dataset}\n")
        f.write(f"**代码版本**: {code_version}\n")
        f.write(f"**输入目录**: {input_dir}\n")
        f.write(f"**输出目录**: {output_dir}\n")
        f.write(f"**状态**: {status}\n")
        f.write(f"**耗时**: {duration}\n")
        f.write(f"**备注**: {note}\n\n")

    print("✅ 日志写入完成")
append_log(task_name, dataset, code_version, input_dir, output_dir, status, duration, note)

✅ 日志写入完成

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\wengqc\AppData\Local\Temp\ipykernel_32072\3582302453.py:4: SyntaxWarning: invalid escape sequence '\D'
  repo_dir = 'E:\Dissertation\CASA0004'